@tailwind base;
@tailwind components;
@tailwind utilities;




main {
  flex: 1 1 auto;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #393737;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}